In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
base_path = "/home/jinjinjara1022/"

weather_forecast_data_1 = pd.read_csv(base_path + "OBIC/data/기상예측데이터_1.csv")
weather_forecast_data_2 = pd.read_csv(base_path + "OBIC/data/기상예측데이터_2.csv")  

weather_observed_data_1 = pd.read_csv(base_path + "OBIC/data/기상실측데이터_1.csv")
weather_observed_data_2 = pd.read_csv(base_path + "OBIC/data/기상실측데이터_2.csv")  
  
jeju_power_market_day_ahead = pd.read_csv(base_path + "OBIC/data/제주전력시장_시장전기가격_하루전가격.csv")
jeju_power_market_real_time = pd.read_csv(base_path + "OBIC/data/제주전력시장_시장전기가격_실시간가격.csv")

jeju_power_market_status = pd.read_csv(base_path + "OBIC/data/제주전력시장_현황데이터.csv")

In [4]:
weather_forecast_data_1

,location,base_ts,ts,temp,real_feel_temp,wet_bulb_temp,dew_point,wind_dir,wind_spd,wind_gust_spd,...,uv_idx,precip_prob,rain_prob,snow_prob,ice_prob,total_liq,rain,snow,ice,cld_cvr
0,Ilgwa-ri,1709258400,1709305200,3.33333,-3.88889,1.11111,-2.77778,343.0,27.8417,59.2239,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0
1,Ilgwa-ri,1709258400,1709308800,3.33333,-3.88889,1.11111,-2.77778,342.0,27.8417,59.2239,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0
2,Ilgwa-ri,1709258400,1709312400,3.33333,-4.44444,1.11111,-2.77778,342.0,27.8417,59.2239,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91.0
3,Ilgwa-ri,1709258400,1709316000,2.77778,-4.44444,1.11111,-2.22222,341.0,29.6119,57.4536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.0
4,Ilgwa-ri,1709258400,1709319600,3.33333,-4.44444,1.11111,-2.77778,341.0,29.6119,57.4536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53103,Sangmo-ri,1729562400,1729681200,17.2222,15.0,13.8889,11.1111,353.0,22.2089,53.7521,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
53104,Sangmo-ri,1729562400,1729684800,17.2222,14.4444,13.8889,11.1111,356.0,22.2089,51.8209,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
53105,Sangmo-ri,1729562400,1729688400,16.6667,13.8889,13.3333,10.5556,359.0,20.4387,51.8209,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
53106,Sangmo-ri,1729562400,1729692000,16.1111,13.3333,13.3333,10.5556,2.0,20.4387,50.0506,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
53107,Sangmo-ri,1729562400,1729695600,15.5556,13.3333,13.3333,10.5556,4.0,18.5075,48.1194,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
weather_forecast_data_1['location'].unique()

array(['Ilgwa-ri', 'location', 'Geumak-ri', 'Yongsu-ri', 'Hacheon-ri',
       'Cheonji-dong', 'Songdang-ri', 'Bonggae-dong', 'Gwangryeong-ri',
       'Sangmo-ri'], dtype=object)

In [6]:
weather_forecast_data_2

,location,base_ts,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,Gaigeturi,1709258400,1709305200,100.0,3.23,3.23,3.23,59.0,1027.0,9.59,337.0,0.0,0.0
1,Gaigeturi,1709258400,1709308800,100.0,3.3,3.3,3.3,59.0,1027.0,9.28,338.0,0.0,0.0
2,Gaigeturi,1709258400,1709312400,100.0,3.35,3.35,3.35,59.0,1027.0,8.82,337.0,0.0,0.0
3,Gaigeturi,1709258400,1709316000,100.0,3.35,3.35,3.35,59.0,1026.0,8.42,338.0,0.0,0.0
4,Gaigeturi,1709258400,1709319600,99.0,3.43,3.43,3.43,59.0,1026.0,8.24,337.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17697,Jeju,1729562400,1729681200,0.0,16.01,16.01,16.01,66.0,1021.0,5.25,342.0,0.0,0.0
17698,Jeju,1729562400,1729684800,16.0,15.95,15.95,15.95,67.0,1021.0,5.22,346.0,0.0,0.0
17699,Jeju,1729562400,1729688400,1.0,15.67,15.67,15.67,68.0,1021.0,4.54,349.0,0.0,0.0
17700,Jeju,1729562400,1729692000,0.0,15.59,15.59,15.59,68.0,1022.0,4.33,353.0,0.0,0.0
17701,Jeju,1729562400,1729695600,11.0,15.51,15.51,15.51,68.0,1021.0,4.06,355.0,0.0,0.0

In [6]:
weather_forecast_data_2['location'].unique()

array(['Gaigeturi', 'location', 'Cheju-do', 'Jeju'], dtype=object)

In [7]:
weather_observed_data_1

,location,ts,temp,real_feel_temp,real_feel_temp_shade,rel_hum,dew_point,wind_dir,wind_spd,wind_gust_spd,uv_idx,vis,cld_cvr,ceiling,pressure,appr_temp,wind_chill_temp,wet_bulb_temp,precip_1h
0,Ilgwa-ri,1709222220,6.9,2.4,2.4,69.0,1.5,338.0,18.7,37.7,0.0,17.7,98.0,579.0,1022.0,8.3,3.3,4.5,0.0
1,Ilgwa-ri,1709222580,7.1,2.7,2.7,68.0,1.5,338.0,18.7,37.7,0.0,17.7,98.0,579.0,1022.0,8.9,3.9,4.6,0.0
2,Ilgwa-ri,1709226120,6.3,0.9,0.9,64.0,-0.1,338.0,22.0,22.0,0.0,16.1,91.0,579.0,1018.6,7.2,2.2,3.5,0.0
3,Ilgwa-ri,1709229420,5.6,-1.7,-1.7,63.0,-0.9,338.0,31.7,31.7,0.0,16.1,45.0,12192.0,1023.0,6.7,0.6,2.9,0.0
4,Ilgwa-ri,1709229840,5.6,-1.7,-1.7,63.0,-0.9,338.0,31.7,31.7,0.0,16.1,45.0,3018.0,1024.0,6.7,0.6,2.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64652,Sangmo-ri,1729594920,20.0,18.0,18.0,100.0,20.0,293.0,37.8,37.8,0.0,14.5,76.0,579.0,1014.6,20.6,20.0,20.0,0.0
64653,Sangmo-ri,1729598520,19.8,16.9,16.9,100.0,19.8,293.0,41.8,41.8,0.0,14.5,91.0,579.0,1014.2,20.6,20.0,19.8,0.1
64654,Sangmo-ri,1729601760,21.2,18.5,18.5,92.0,19.9,315.0,49.7,49.7,0.0,22.5,99.0,457.0,1015.0,21.7,21.1,20.4,0.0
64655,Sangmo-ri,1729602120,19.6,16.7,16.7,100.0,19.6,315.0,49.7,49.7,0.0,22.5,99.0,518.0,1013.9,20.6,19.4,19.5,0.0
64656,Sangmo-ri,1729605720,19.4,16.5,16.5,100.0,19.3,315.0,48.3,48.3,0.0,11.3,100.0,579.0,1013.5,20.6,19.4,19.4,0.1

In [8]:
weather_observed_data_1['location'].unique()

array(['Ilgwa-ri', 'location', 'Geumak-ri', 'Yongsu-ri', 'Hacheon-ri',
       'Cheonji-dong', 'Songdang-ri', 'Bonggae-dong', 'Gwangryeong-ri',
       'Sangmo-ri'], dtype=object)

In [9]:
weather_observed_data_2

,location,ts,cloud,temp,temp_max,temp_min,humidity,ground_press,wind_speed,wind_dir,rain,snow
0,Gaigeturi,1709218856,80.0,8.03,8.03,8.03,73.0,1023.0,10.34,352.0,0.0,0.0
1,Gaigeturi,1709220664,75.0,8.03,8.03,8.03,66.0,1022.0,3.09,340.0,0.0,0.0
2,Gaigeturi,1709222454,85.0,7.75,7.75,7.75,71.0,1023.0,11.28,350.0,0.0,0.0
3,Gaigeturi,1709224276,75.0,8.03,8.03,8.03,66.0,1022.0,4.63,340.0,0.0,0.0
4,Gaigeturi,1709226058,88.0,7.11,7.11,7.11,66.0,1024.0,11.8,352.0,0.31,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34007,Jeju,1729600283,75.0,21.96,21.96,21.96,83.0,1016.0,6.17,270.0,0.53,0.0
34008,Jeju,1729602067,75.0,19.96,19.96,19.96,94.0,1016.0,10.8,300.0,0.53,0.0
34009,Jeju,1729603843,75.0,19.96,19.96,19.96,88.0,1016.0,10.8,290.0,0.48,0.0
34010,Jeju,1729605674,100.0,20.29,20.29,20.29,92.0,1016.0,9.07,299.0,0.48,0.0
34011,Jeju,1729607448,100.0,19.96,19.96,19.96,83.0,1016.0,9.26,290.0,0.96,0.0

In [10]:
weather_observed_data_2['location'].unique()

array(['Gaigeturi', 'location', 'Cheju-do', 'Jeju'], dtype=object)

In [12]:
jeju_power_market_day_ahead

              ts  하루전가격(원/kWh)
0     1709218800        107.39
1     1709222400        107.39
2     1709226000         95.30
3     1709229600         87.89
4     1709233200          0.00
...          ...           ...
5660  1729594800        156.68
5661  1729598400        152.54
5662  1729602000        106.92
5663  1729605600        150.97
5664  1729609200        121.78

[5665 rows x 2 columns]

In [15]:
jeju_power_market_day_ahead['new_time'] = pd.to_datetime(jeju_power_market_day_ahead['ts'], unit='s')

In [21]:
jeju_power_market_day_ahead[:24]

            ts  하루전가격(원/kWh)            new_time
0   1709218800        107.39 2024-02-29 15:00:00
1   1709222400        107.39 2024-02-29 16:00:00
2   1709226000         95.30 2024-02-29 17:00:00
3   1709229600         87.89 2024-02-29 18:00:00
4   1709233200          0.00 2024-02-29 19:00:00
5   1709236800          0.00 2024-02-29 20:00:00
6   1709240400          0.00 2024-02-29 21:00:00
7   1709244000        111.40 2024-02-29 22:00:00
8   1709247600          0.00 2024-02-29 23:00:00
9   1709251200        111.67 2024-03-01 00:00:00
10  1709254800        109.57 2024-03-01 01:00:00
11  1709258400          0.00 2024-03-01 02:00:00
12  1709262000         99.15 2024-03-01 03:00:00
13  1709265600          0.00 2024-03-01 04:00:00
14  1709269200         95.91 2024-03-01 05:00:00
15  1709272800         95.91 2024-03-01 06:00:00
16  1709276400         98.25 2024-03-01 07:00:00
17  1709280000        100.21 2024-03-01 08:00:00
18  1709283600        128.34 2024-03-01 09:00:00
19  1709287200        109.57 2024-03-01 10:00:00
20  1709290800        109.83 2024-03-01 11:00:00
21  1709294400        109.83 2024-03-01 12:00:00
22  1709298000        110.35 2024-03-01 13:00:00
23  1709301600        112.19 2024-03-01 14:00:00

In [18]:
jeju_power_market_real_time['new_time'] = pd.to_datetime(jeju_power_market_real_time['ts'], unit='s')

In [20]:
jeju_power_market_real_time[:48]

            ts  실시간 임시 가격(원/kWh)  실시간 확정 가격(원/kWh)            new_time
0   1709218800             95.30             95.30 2024-02-29 15:00:00
1   1709222400            107.39            107.39 2024-02-29 16:00:00
2   1709226000             95.30             95.30 2024-02-29 17:00:00
3   1709229600             87.89             87.89 2024-02-29 18:00:00
4   1709233200             86.50             86.50 2024-02-29 19:00:00
5   1709236800             88.78             88.78 2024-02-29 20:00:00
6   1709240400            100.21            100.21 2024-02-29 21:00:00
7   1709244000            111.40            111.40 2024-02-29 22:00:00
8   1709247600            111.40            111.40 2024-02-29 23:00:00
9   1709251200            111.67            111.67 2024-03-01 00:00:00
10  1709254800            109.57            109.57 2024-03-01 01:00:00
11  1709258400            -73.88            -73.88 2024-03-01 02:00:00
12  1709262000            -73.88            -73.88 2024-03-01 03:00:00
13  1709265600              0.00              0.00 2024-03-01 04:00:00
14  1709269200             95.91             95.91 2024-03-01 05:00:00
15  1709272800             95.91             95.91 2024-03-01 06:00:00
16  1709276400             98.25             98.25 2024-03-01 07:00:00
17  1709280000            100.21            100.21 2024-03-01 08:00:00
18  1709283600            128.34            128.34 2024-03-01 09:00:00
19  1709287200            174.45            174.45 2024-03-01 10:00:00
20  1709290800            109.83            109.83 2024-03-01 11:00:00
21  1709294400            174.59            174.59 2024-03-01 12:00:00
22  1709298000            110.35            110.35 2024-03-01 13:00:00
23  1709301600            173.94            173.94 2024-03-01 14:00:00
24  1709305200            112.19            112.19 2024-03-01 15:00:00
25  1709308800            100.28            100.28 2024-03-01 16:00:00
26  1709312400            167.66            136.89 2024-03-01 17:00:00
27  1709316000            165.95            136.72 2024-03-01 18:00:00
28  1709319600             91.24             91.24 2024-03-01 19:00:00
29  1709323200             91.24             91.24 2024-03-01 20:00:00
30  1709326800             95.38             95.38 2024-03-01 21:00:00
31  1709330400             99.48             99.48 2024-03-01 22:00:00
32  1709334000            102.02            102.02 2024-03-01 23:00:00
33  1709337600            101.85            101.85 2024-03-02 00:00:00
34  1709341200            104.14            104.14 2024-03-02 01:00:00
35  1709344800            100.76            100.76 2024-03-02 02:00:00
36  1709348400            -19.00            -19.00 2024-03-02 03:00:00
37  1709352000            -73.65            -73.65 2024-03-02 04:00:00
38  1709355600              0.00              0.00 2024-03-02 05:00:00
39  1709359200            -73.65            -73.65 2024-03-02 06:00:00
40  1709362800            100.55            100.55 2024-03-02 07:00:00
41  1709366400             99.48             99.48 2024-03-02 08:00:00
42  1709370000            100.55            100.55 2024-03-02 09:00:00
43  1709373600            325.80            310.58 2024-03-02 10:00:00
44  1709377200            330.56            314.82 2024-03-02 11:00:00
45  1709380800            329.28            314.82 2024-03-02 12:00:00
46  1709384400            325.74            311.94 2024-03-02 13:00:00
47  1709388000            169.69            170.61 2024-03-02 14:00:00